.answere-conatainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.answere-conataine div {
  text-align: center;
}
.heading-answere {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.paragraphs {
  padding: 20px;
}
.single-answere {
  border: 3px solid goldenrod;
  border-radius: 10px;
  margin: 5px;
}
